@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  background-image: url("http://www.planwallpaper.com/static/images/518169-backgrounds.jpg");
}

.navbar {
  background: #fff;
  margin-bottom: 20px;
  background-color: #280F92;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #DCC500;
  background: #FFF7B3;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #DCC500;
  background: #FDEF79;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player {
  margin-left: 20px;
  margin-right: 20px;
}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;

}

.video-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3%;
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}
